Repository wp-spaghetti/wp-vite, changes with the labels that .github/labeler.yml gives for each.
All labels: area: core, area: tests, area: docs, area: ci/cd, area: dependencies, area: config

.github/labeler.yml:

# Auto-label PRs based on changed files
'area: core':
- any: ['src/**']

'area: tests':
- any: ['tests/**']

'area: docs':
- any: ['*.md', 'docs/**']

'area: ci/cd':
- any: ['.github/**']

'area: dependencies':
- any: ['composer.json', 'composer.lock']

'area: config':
- any: ['*.php', '*.json', '*.xml', '*.yml', '*.yaml']

fix: fix wp-env cache in getServerUrl method
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/dependabot.yml
  docs/LINKS.md
  src/Vite.php
Labels: area: core, area: ci/cd

fix: fix wp-env cache in getServerUrl method (#3)
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/dependabot.yml
  docs/LINKS.md
  src/Vite.php
Labels: area: core, area: ci/cd

feat: add component_name arg
  README.md
  docs/component-configuration.md
  examples/README.md
  phpunit.xml.dist
  src/Vite.php
  tests/ComponentNameTest.php
Labels: area: core, area: tests

feat: add component_name arg (#8)
  README.md
  docs/component-configuration.md
  examples/README.md
  phpunit.xml.dist
  src/Vite.php
  tests/ComponentNameTest.php
Labels: area: core, area: tests

chore: rename pluginName to componentName
  src/Vite.php
  tests/ComponentNameTest.php
Labels: area: core, area: tests

chore: rename pluginName to componentName (#9)
  src/Vite.php
  tests/ComponentNameTest.php
Labels: area: core, area: tests

fix: fix min_level arg
  src/Vite.php
Labels: area: core

fix: fix min_level arg (#10)
  src/Vite.php
Labels: area: core

docs: update logger section in README
  README.md
Labels: none

docs: update logger section in README (#11)
  README.md
Labels: none

build: refactor workflow
  .github/workflows/auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  codecov.yml
Labels: area: ci/cd

fix: add initialized check to static methods
  src/Vite.php
Labels: area: core

perf: add archive:exclude in composer
  .php-cs-fixer.dist.php
  composer.json
  tests/bootstrap.php
Labels: area: tests

docs: update badges in README
  README.md
Labels: none

build: fix qlty job
  .github/workflows/main.yml
Labels: area: ci/cd

fix: add initialized check to static methods (#12)
  .github/workflows/auto-merge.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .php-cs-fixer.dist.php
  README.md
  codecov.yml
  composer.json
  src/Vite.php
  tests/bootstrap.php
Labels: area: core, area: tests, area: ci/cd

perf: move archive exclusions to .gitattributes
  .gitattributes
  composer.json
Labels: none

build: add semantic-release-unsquash plugin to release process
  .github/workflows/release.yml
  .releaserc.json
Labels: area: ci/cd

perf: move archive exclusions to .gitattributes
  .gitattributes
  composer.json
Labels: none

build: add semantic-release-unsquash plugin to release process
  .github/workflows/release.yml
  .releaserc.json
Labels: area: ci/cd

fix: enhance directory handling in detectComponentName method
  src/Vite.php
Labels: area: core

fix: enhance directory handling in detectComponentName method
  src/Vite.php
Labels: area: core

ci: remove semantic-release-unsquash
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.mjs
  composer.json
  grumphp.yml.dist
Labels: area: ci/cd

ci: remove semantic-release-unsquash
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .releaserc.json
  commitlint.config.mjs
  composer.json
  grumphp.yml.dist
Labels: area: ci/cd
